.filters {
  display: flex;
  min-height: 87px;
  gap: 24px;
  margin-top: 24px;

  .categoriesWrapper {
    width: 100%;
  }
  .categories {
    display: flex;
    gap: 8px;
    padding: 4px;
    border-radius: 16px;
    border: 1px solid rgba(37, 37, 37, 0.6);
    background-color: rgba(37, 37, 37, 0.6);

    .category {
      padding: 16px;
      width: 100%;
      border: 1px solid transparent;
      
      .number {
        font-size: 12px;
        color: rgba(175, 141, 108, 1);
      }

      .content {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 16px;
      }

      .text {
        color: rgba(167, 167, 167, 1);
      }

      .total {
        color: rgba(83, 83, 83, 1);
      }

      &.active {
        border: 1px solid rgba(197, 164, 132, 0.5);
        border-radius: 12px;

        .text {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .ranks {
    min-width: 157px;
    background-color: rgba(37, 37, 37, 0.6);
    border-radius: 16px;
    border: 1px solid rgba(37, 37, 37, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
  }
}

@media (max-width: 1199px) {
  .filters {
    flex-direction: column;


    .ranks {
      padding: 12px 16px 12px 16px;
      border-radius: 8px;
    }
  }
}

@media (max-width: 767px) {
  .filters {
    .categoriesWrapper {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .categories {
      width: fit-content;
      .category {
        min-width: 567px;
      }
    }
    .ranks {
      height: 73px;
      width: 290px;
    }
  }
}
